data/*
external/*
!external/.gitkeep
fusion_runs
cluster_logs
eval_logs_final
perceptual_study
external/OmniControl

renders
render_out
canon_viz
debug_scripts
sh_scripts/eval*


*.log
*.pyc
__pycache__/
.vscode

sh_scripts/*.sub

