tqdm 
psutil
moviepy
tabulate 
ipdb
wandb
joblib
trimesh==3.23.5
pyrender
omegaconf==2.3.0
einops==0.8.1
smplx==0.1.28
matplotlib==3.10.6
pygit2==1.18.2
openai==1.77.0
aitviewer
ema-pytorch
nvidia-ml-py3
plyfile
tensorboardX
pyglet==2.1.8
easydict==1.13
roma==1.5.4
numpy==1.26.4
scipy==1.13.0
h5py

git+https://github.com/otaheri/chamfer_distance.git
git+https://github.com/otaheri/bps_torch.git
git+https://github.com/nghorbani/human_body_prior.git
git+https://github.com/otaheri/MANO.git
git+https://github.com/MPI-IS/mesh.git
# git+https://github.com/MPI-IS/mesh@e8b04be3aaa1d262a3b7a05ef9e4085b4836b049
